<div class="d-flex flex-column align-items-center mt-3">
  <div class="col-xl-7 col-lg-8 col-md-10 col-sm-11 post-card">
    <div id="posts">
      <%= render 'posts_list' %>
    </div>
  </div>
</div>
<script type="text/javascripts">
      Dropzone.autoDiscover = false;

      $(document).ready(function(){
        $(".upload-images").dropzone({
          addRemoveLinks: true,
          maxFilesize: 1,
          autoProcessQueue: false,
          uploadMultiple: true,
          parallelUploads: 100,
          maxFiles: 100,
          paramName: "images",
          previewsContainer: ".dropzone-previews",
          clickable: ".upload-photos-icon",
          thumbnailWidth: 100,
          thumbnailHeight: 100,
      
          init: function(){
            var myDropzone = this;
      
            this.element.querySelector("input[type=submit]").addEventListener("click", function(e){
              e.preventDefault();
              e.stopPropagation();
              myDropzone.processQueue();
            });
      
            this.on("successmultiple", function(files, response){
              window.location.reload();
              console.log("HElllo")
            });
      
            this.on("errormultiple", function(files, response){
              toastr.error(response);
            });
          }
        })
      });
    </script>

